# Ignore fichiers sensibles
.env

# Dossiers Python
__pycache__/
*.py[cod]
config/

# Fichiers temporaires / logs
*.log
*.tmp
.DS_Store
logs/log.txt


# Environnement virtuel
venv/
.env/

#  Fichier videos 
*.mp4
*.mov

# Fichier généréré par le script 
audio/
audio_segments/
generated_backgrounds/
images/
output/
prompts/
pretrained_models/
profiles/
transcripts/
video_background/
video_finale/
xld_file/
playwright-profile/
download/
logs/
pending_posts/
video_segments/
video_composite/
archive/
soundcloud-profile/

# Scraper
scraper_history.json
scraper_daily.json
