pydub
Pillow
tqdm
openai
python-dotenv
requests
numpy
pywin32
wheel
ffmpeg-python
assemblyai
playwright
tiktoken
imageio
imageio-ffmpeg
yt-dlp
flet

# Remarque : ffmpeg doit être installé séparément (non pip)
# Remarque : pour Playwright exécuter `python -m playwright install` après l'installation des paquets